#platform=x86, AMD64, or Intel EM64T
#version=DEVEL

# Firewall configuration
firewall --enabled --ssh

# Install OS instead of upgrade
install

# Use CDROM installation media
cdrom

# Root password
rootpw --iscrypted $1$jU05jDn0$ZGlXp3vt4F16a18cuieeS/

# System authorization information
auth  --useshadow  --passalgo=sha512

# Use text mode install
text

# System keyboard
keyboard us

# System language
lang en_NZ

# SELinux configuration
selinux --disabled

# Do not configure the X Window System
skipx

# Installation logging level
logging --level=info

# Reboot after installation
reboot

# System timezone
timezone  Pacific/Auckland

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=on

# System bootloader configuration
bootloader --location=mbr

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all --initlabel 

# Disk partitioning information
part /boot --asprimary --fstype="ext4" --size=250
part / --fstype="ext4" --size=4096
part swap --fstype="swap" --size=1024

# During installation, you can interact with anaconda and monitor its progress over an SSH connection. 
# Use the sshpw command to create temporary accounts through which to log on. 
# Each instance of the command creates a separate account that exists only in the installation environment. 
# These accounts are not transferred to the installed system.
sshpw --username=kickstart redhat --plaintext


# Create vagrant user
user --name=vagrant --password=vagrant --groups=wheel 


%pre --log=/var/log/pre.install.log
echo `date |tr -d '\n'` "Starting %pre section"
echo `date |tr -d '\n'` "Finished %pre section"  
%end

#
# POST INSTALL
#
%post --log=/var/log/post.install.log
echo `date |tr -d '\n'` "Starting %post section"
yum -y install wget.x86_64
wget -O - https://raw.githubusercontent.com/brodrigues-oss/vagrant/master/scripts/install.sh | sh
echo `date |tr -d '\n'` "Finished %post section"
%end

%packages --nobase --ignoremissing
@Core
authconfig
system-config-firewall-base
%end
